@media (max-width:575px) {

    nav{
        background-color: var(--brand);
    }

    .fs-75 {
        font-size: 48px !important;
    }

    .down{
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }

    #work .work h1{
        margin-bottom: 50px;
    }

    #work .work .work-item h2{
        margin-bottom: 50px;
    }

    #work .work .work-item2 img{
        margin-bottom: 50px;
    }

    #work .work .work-item3 h2{
        margin-bottom: 50px;
    }

    .accordion-container .accordion-title::before{
        display: none;
    }

    .accordion-container .accordion-title::after{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer ul{
        margin: 30px 0;
    }
}

/*
small device ends
*/

@media (max-width:767px) {

    nav{
        background-color: var(--brand);
    }

    .fs-75 {
        font-size: 48px !important;
    }

    .down{
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
    }

    #work .work h1{
        margin-bottom: 50px;
    }

    #work .work .work-item h2{
        margin-bottom: 50px;
    }

    #work .work .work-item2 img{
        margin-bottom: 50px;
    }

    #work .work .work-item3 h2{
        margin-bottom: 50px;
    }

    .accordion-container .accordion-title::before{
        display: none;
    }

    .accordion-container .accordion-title::after{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer ul{
        margin: 30px 0;
    }
}